@layer reset, settings, typology, layout, components;

@layer reset {

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

@layer settings {
    :root {
        --primary-100: hsl(0, 0%, 93%);
        --primary-400: hsl(0, 0%, 77%);
        --primary-500: hsl(0, 0%, 68%);
        --primary-700: hsl(0, 0%, 20%);
        --primary-900: hsl(0, 0%, 15%);

        --radius-primary: 0.25em;
    }

    button {
        padding: 0.25em 0.75em;
        border: none;
        border-radius: var(--radius-primary);
        transition: filter 150ms ease-out;
    }

    button:hover {
        cursor: pointer;
        filter: brightness(75%);
    }

    input {
        border: none;
    }

    input:where([type="checkbox"]) {
        cursor: pointer;
    }
}

@layer typology {
    * {
        font-family: 'Roboto Mono', monospace;
        font-weight: 500;
    }

    h1 {
        font-weight: 300;
        font-size: 4rem;
    }

    input::placeholder {
        color: var(--primary-400);
    }

    :where(span, input, button) {
        color: var(--primary-700)
    }

    span {
        font-weight: 300;
    }
}

@layer layout {
    .wrapper {
        display: flex;
        margin: 10em auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        width: max-content;
    }

    .filter-container {
        display: flex;
        gap: 1em;
        margin: 0 auto;
    }
}

@layer components {
    .todo-list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: relative;
    }

    .todo-list, .todo-list::before, .todo-list::after {
        background-color: white;

        -webkit-box-shadow: 0px 1px 5px 1px var(--primary-500);
        -moz-box-shadow: 0px 1px 5px 1px var(--primary-500);
        box-shadow: 0px 1px 5px 1px var(--primary-500);
    }

    .todo-list::before, .todo-list::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        transform-origin: center bottom;
    }

    .todo-list::before {
        z-index: -1;
        transform: translateY(5px) scaleX(95%);
    }

    .todo-list::after {
        z-index: -2;
        transform: translateY(10px) scaleX(90%);
    }

    #task-input {
        width: 100%;
        padding: 0.75em;
        position: relative;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--primary-400);
        border-radius: var(--radius-primary);
    }

    @layer filter {

        /*? Tasks filter */
        .filter {
            padding: 0.25em 0.75em;
            transition: all 100ms ease-out;
        }

        .filter.active {
            color: var(--primary-100);
            background-color: var(--primary-900);
        }

        .filter.active:hover {
            filter: none;
            background-color: var(--primary-900);
        }

        /*? Tasks */
        #list {
            list-style: none;
        }
    }

    @layer task {
        .task {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25em 1.25em;
            position: relative;

            font-size: 1.25rem;
            text-align: center;

            border-bottom: 1px solid var(--primary-400);
            border-radius: var(--radius-primary);

            -webkit-box-shadow: 0px 1px 1px 0px var(--primary-400);
            box-shadow: 0px 1px 1px 0px var(--primary-400);
        }

        .task > input[type="checkbox"] {
            position: absolute;
            left: 0.25em;
            top: 0;
            bottom: 0;

            width: 1em;
            border: 1px solid var(--primary-900);
        }

        .task.done {
            text-decoration: line-through;
        }

        .task.hidden {
            display: none;
        }

        .btn-remove {
            padding: 0.25em;
            position: absolute;
            right: 0.25em;
            top: 0.5em;

            font-weight: bold;
            font-size: 0.9rem;

            background-color: transparent;
            border: 1px solid transparent;
            transition: all 150ms ease-out;
        }

        .btn-remove:hover {
            border: 1px solid var(--primary-100);
        }
    }

    @layer stats {

        /*? Stats */
        .task-stats-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;

            margin: 0.5em 0;
            position: relative;
        }

        #tasks-left {
            font-size: 1.25rem;
            font-weight: bold;
            user-select: none;
        }
    }
}