.input {
    -fx-font-weight: bold;
    -fx-font-size: 22;
    -fx-alignment: center-right;
}

.button {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-alignment: center;
}

.grid {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}