:root {
	--black: #000;
	--white: #fff;
	--main-bg: yellowgreen;
	--brown: #8b4513;
	--yellow: khaki;
	--border-color: orange;
	--footer-color: darkolivegreen;
}

html,
body {
	margin: 0;
	padding: 0;
}

#wrapper {
	position: relative;
	width: 960px;
	border: 1px solid black;
	box-sizing: border-box;
	height: 1200px;
	margin: auto;
}

.flexrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header {
	height: 54px;
	overflow: hidden;
	padding: 8px;
	background-color: var(--yellow);
}

.logo {
	height: 100%;
}

.nav-bar {
	gap: 16px;
	list-style: none;
}

.nav-el {
	padding: 8px;
	border: 1px solid var(--border-color);
	color: var(--black);
	text-decoration: none;
}

.nav-el:hover {
	background: var(--border-color);
	color: var(--white);
}

.main {
	background: var(--main-bg);
}

.main-container {
	margin: 0 auto;
	width: 540px;
	padding-bottom: 170px;
}

.main-container>* {
	margin: 0 auto;
}

.img-changer-container {
	list-style-type: none;
}

.img-changer-rad {
	display: block;
	margin: 48px 0;
	width: 24px;
	height: 24px;
	cursor: pointer;
	accent-color: var(--black);
}

.img-changer-rad:checked {
	accent-color: var(--brown);
}

.img-changer-container:has(#slon1-changer:checked)~.animal-figure>.animal-img {
	content: url(./images/slon-1.webp);
}

.img-changer-container:has(#slon2-changer:checked)~.animal-figure>.animal-img {
	content: url(./images/slon-2.webp);
}

.img-changer-container:has(#slon3-changer:checked)~.animal-figure>.animal-img {
	content: url(./images/slon-3.jpeg);
}

.img-changer-container:has(#slon4-changer:checked)~.animal-figure>.animal-img {
	content: url(./images/slon-4.jpeg);
}

.img-changer-container:has(#slon1-changer:checked)~#info-1 {
	display: block;
}

.img-changer-container:has(#slon2-changer:checked)~#info-2 {
	display: block;
}

.img-changer-container:has(#slon3-changer:checked)~#info-3 {
	display: block;
}

.img-changer-container:has(#slon4-changer:checked)~#info-4 {
	display: block;
}



.animal-info {
	display: none;
}

.animal-figure {
	margin: 0 auto;
	margin-bottom: 90px;
	text-align: center;
}

.animal-img {
	width: 240px;
	height: 160px;
}

.animal-info {
	text-align: center;
}

.form {
	display: flex;
	margin-top: 412px;

	padding: 32px;
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	background-color: var(--brown);
}

.form-lbl {
	color: var(--yellow);
}

.form-lbl:last-of-type {
	margin-top: 16px;
}

.form-input {
	min-height: 2em;
	border-radius: 8px;
	resize: none;
}

.form-btn {
	margin-top: 48px;
	padding: 16px 0;
	color: var(--black);
	background-color: var(--yellow);
	border-radius: 8px;
	font-weight: bold;
}

.footer {
	height: 80px;
	padding: 32px;
	background-color: var(--footer-color);
	color: var(--white);
}

.footer-nav-el {
	padding: 8px;
	color: var(--white);
	text-decoration: none;
}

@media screen and (max-width:600px) {
	#wrapper {
		height: 844px;
		width: 405px;
	}

	.main-container {
		width: 350px;
		padding-bottom: 90px;
	}

	.header {
		justify-content: flex-start;
	}

	.headline {
		display: none;
	}

	.nav-el {
		padding: 2px;
	}

	.form {
		margin-top: 90px;
		margin-left: 2em;
		margin-right: 2em;
	}

	.form-input,
	.form-btn {
		width: 90%;
	}

	.footer-nav {
		gap: 2px;
	}

	.footer-nav-el {
		padding: 2px;
	}


}